.composite-bar {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: var(--grey-1);
}

.actions-container {
    list-style-type: none;
    padding: 0;
}

.actions-item {
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--bk-resizable);
}

.actions-item:hover {
    background-color: #ddd;
}
